:root {
  --focus-bg-color: #e8e8e8;
  --paper-color: #fffcf4;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

.full-height {
  height: 100%;
}

.no-outline {
  outline: 0;
  border: 0;
}

.no-outline:focus {
  outline: 0;
  border: 0;
}

.flex-1 {
  flex: 1;
}

.full-width {
  width: 100%;
}

.checkbox {
  display: flex;
  cursor: pointer;
  width: 18px;
  height: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-width: 2px !important;
}

.checkbox:hover {
  background-color: #e8e8e8;
}

.checkbox i {
  opacity: 0;
  font-size: 0.8em;
}

.checkbox i.checked {
  opacity: 1;
}

.checkbox:hover i {
  opacity: 1;
}

.text-cursor {
  cursor: text;
}

.c-pointer {
  cursor: pointer;
}

.task-list-col {
  width: 596px;
  height: 100%;
}

.paper {
  background-color: var(--paper-color);
}

.fa-grip-vertical {
  opacity: 0;
  padding: 0;
  cursor: grab;
}

.fa-align-left {
  border-width: 2px !important;
  padding: 0.3em;
  font-size: 0.8em;
}

.fa-ellipsis-v {
  opacity: 0;
  padding: 0.3em;
}

.task-item:hover .fa-grip-vertical,
.task-item:hover .fa-ellipsis-v {
  opacity: 1;
}

.in-shadow {
  -moz-box-shadow: inset 0 0 8px var(--focus-bg-color);
  -webkit-box-shadow: inset 0 0 8px var(--focus-bg-color);
  box-shadow: inset 0 0 8px var(--focus-bg-color);
}
